table {
  border: 1px solid #000;

  text-align: center;

  tr {
    td {
      font-size: $body-text-size;
      padding: .3rem 0;
    }
  }

  thead {
    tr {
      background-color: #fff;

      td {
        font-size: 2.4rem;
        font-weight: 900;
        text-decoration: underline;
        padding: 1rem 0;

        @include for-tablet-landscape-down {
          font-size: 4rem;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #ccc;
      }
    }
  }

}